body {
  text-align: center;
}

header > h1 {
  margin-bottom: 0;
  color: rgb(248, 231, 205);
  background-color: rgba(31, 22, 12, 0.699);
  margin: 0 0 0px 0;
}

header > p {
  margin-top: 0;
  color: rgb(248, 231, 205);
  background-color: rgba(31, 22, 12, 0.699);
  margin: 0 0 15px 0;
}

#entireCalculator {
  margin: auto;
  display: flex;
  flex-direction: column;
  border: solid rgba(97, 97, 97, 0.171) 3px;
  border-radius: 5px;
  width: 320px;
  height: 450px;
  justify-content: center;
  align-items: center;
  background-color: rgba(43, 43, 43, 0.93);
}

body {
  background-image: url(/photos/Calculator\ Background\ Image.jpg);
  background-size: contain;
}

#calculatorScreen {
  font-family: "Orbitron", sans-serif;
  height: 55px;
  width: 285px;
  background-color: rgba(233, 166, 89, 0.699);
  color: black;
  border: solid black 3px;
  border-radius: 5px;
  margin-bottom: 10px;
}

#screenSuperScript {
  display: flex;
  justify-content: space-between;
}

#calculatorScreenInput {
  height: 15px;
  text-align: right;
  font-size: x-small;
}

#memoryStored {
  height: 15px;
  text-align: left;
}

#calculatorScreenAnswer {
  height: 35px;
  width: 285px;
  text-align: right;
  font-size: xx-large;
}

.buttonPanelDiv {
  display: flex;
}

.buttonRowsDivGroup {
  display: flex;
}

.individualButtonDiv {
  height: 75px;
  width: 75px;
}

.button {
  height: 65px;
  width: 65px;
  border: solid black 1px;
  border-radius: 10px;
  background-color: rgba(245, 245, 245, 0.411);
  font-size: x-large;
}

.memoryDiv {
  width: 50px;
}

.memory {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: smaller;
}

#equalButtonDiv {
  width: 150px;
}

#equal {
  width: 140px;
}

footer {
  font-size: x-small;
  text-align: left;
  position: fixed;
  bottom: 3px;
  color: rgba(31, 22, 12, 0.699);
  background-color: rgba(245, 245, 245, 0.651);
  border-radius: 5px;
  padding: 2px;
}
